//todo try to recycle pixel-data-ctn for spray data too
#pixel-data-ctn
    .pixel-data
        .summary
            span.intro Pixel placed by
            .contents
                .user-summary
                    .username-container
                        .username-text-ctn #[a.username#pixel-data-username] #[div#user-actions-dropdown-ctn]
                    .rank-container
                    time.timeago#pixel-data-time
                .pixel-coordinates
                    .contents
                        .field
                            span.title X
                            span.value#pixel-data-x
                        .field
                            span.title Y
                            span.value#pixel-data-y
        .pixel-colour.clearfix(style="padding-top:10px;padding-bottom:10px;")
            div(style="display:block; width: 15% ")
                a( id="spray_name" style="margin-top:30px; margin-right:60%; color: #5e5c5c" href="https://opensea.io/collection/spray-canz" target="_blank")
                img.icon( id="spray_img", height="50" )
        .user-info